<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Crop Doctor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">



    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">

  </head>
  <body style="background-image: url('images/medical-background.jpg');">

  <div class="site-wrap">



    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <% include ../partials/navbar.ejs %>

    <div class="site-blocks-cover inner-page overlay" style="background-image: url(images/farm.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade">
          <h1 class="text-uppercase">Blog</h1>
          <span class="caption d-block text-white"></span>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-image">
              <img src="images/spider-mite.jpg" alt="Image" class="img-fluid">
              <div class="media-image-body">
                <h2 class="font-secondary text-uppercase">Spider Mites</h2>
                <span class="d-block mb-3">By Sunny &mdash; Feb. 15, 2019</span>
                <p>
Many species of the spider mite (family: Tetranychidae), so common in North America, attack both indoor and outdoor plants. They can be especially destructive in greenhouses.

Spider mites are not true insects, but are classed as a type of arachnid, relatives of spiders, ticks and scorpions. Adults are reddish brown or pale in color, oval-shaped and very small (1/50 inch long) – about the size of the period at the end of this sentence. Immature stages resemble the adults except only smaller.</p>

              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-image">
              <img src="images/pm.jpg" alt="Image" class="img-fluid">
              <div class="media-image-body">
                <h2 class="font-secondary text-uppercase">Powdery Mildew</h2>
                <span class="d-block mb-3">By Sunny &mdash; Feb. 02, 2019</span>
                <p>    Plants infected with powdery mildew look as if they have been dusted with flour.
    Powdery mildew usually starts off as circular, powdery white spots, which can appear on leaves, stems, and sometimes fruit.
    Powdery mildew usually covers the upper part of the leaves, but may grow on the undersides as well.
    Young foliage is most susceptible to damage. Leaves turn yellow and dry out.
    The fungus might cause some leaves to twist, break, or become disfigured.
    The white spots of powdery mildew will spread to cover most of the leaves or affected areas.
    The leaves, buds, and growing tips will become disfigured as well. These symptoms usually appear late in the growing season.
</p>

              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-image">
              <img src="images/russet-mites.jpg" alt="Image" class="img-fluid">
              <div class="media-image-body">
                <h2 class="font-secondary text-uppercase">Russet Mites</h2>
                <span class="d-block mb-3">By Sunny &mdash; Jan. 20, 2019</span>
                <p>Russet Mites, along with Hemp Russet Mites, are some of the most damaging and difficult to control pests affecting growers today. Many species are host-specific and prefer monocultured growing areas (tomato growers in particular). Hard to spot and quick to reproduce, russet mites do not produce the noticeable webbing that identifies spider mites.</p>

              </div>
            </div>
          </div>


        </div>

        <div class="row">
          <div class="col-12 text-center">
            <div class="custom-pagination">
              <span class="current">1</span>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <span>...</span>
              <a href="#">14</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>

    <div class="col-md-2">
      <div class="col-md-12"></div>
        <div class="col-md-12">
          <p>
            <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
            <a href="#" class="p-2"><span class="icon-twitter"></span></a>
            <a href="#" class="p-2"><span class="icon-instagram"></span></a>
            <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

          </p>
        </div>
    </div>
  </div>
  <div class="row pt-5 mt-5 text-center">
    <div class="col-md-12">
      <p>

    </div>

  </div>
</div>
</footer>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/aos.js"></script>

<script src="/js/main.js"></script>

</body>
</html>
